{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog project
  </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'firstapp/BSTRP_project.css' %}">


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gouthams's Django project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'guitar-lovers-home' %}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'guitar-lovers-fourms' %}">Blogs</a>
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'post-new' %}">New Blog</a>

          <a class="nav-item nav-link" href="{% url 'guitar-lovers-logout' %}">Log out</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registered</a>
          <a class="nav-item nav-link" href="{% url 'api-info' %}">API</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'guitar-lovers-register' %}">Register</a>
          <a class="nav-item nav-link" href="{% url 'guitar-lovers-login' %}">LogIn </a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">API</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div calss='container'>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>