{% extends "firstapp/base.html" %}
{% block content %}
    <div class="Jumbotron jumbotron-custom">
        <div class="container">
            <h1 class="display-4">Welcome Guitar lovers.</h1>
            <p>Music has been with man since the dawn of time. Every beat or sound can some way be considered as a form of music. Dating back to early man music could have been something as simple as the soothing sound of a waterfall or a tree swaying with the wind or a wild animal running through a forest. Today music is so diversified and so engrained in our lives that practically every child or teenager & even an adult has a vast list of songs that they might listen to on their mp3 players.</p>
            <p>The reason why I have chosen Rock music for my seminar paper topic is that, I truly am very passionate about this genre of music. Rock Music or Rock as it is so called is vastly misunderstood by people, most of whom simply associate it with negative stereotypes like drug addiction, alcoholism, violence, sexual abuse, demonic control and other vices. One cannot blame people for having such misconceptions about Rock since over the years many of the famous Rock artists have come to be known mainly for their drug addiction and other outrageous behaviour under the influence of alcohol and chemical substances. However it is important to understand that one must separate the artist from his music and not pass unnecessary judgment on the music just based on the vices of the artist.</p>
            <ol id="ol_1">
                There are three kinds Guitars.
                <li>The <a href="https://en.wikipedia.org/wiki/Flamenco">Flamenco</a> guitar.</li>
                <li>The beastly <a href="https://en.wikipedia.org/wiki/Electric_guitar">Electric</a> guitar.</li>
                <li>The legendary <a href="https://en.wikipedia.org/wiki/Classical_guitar">Classical</a> guitar.</li>
            </ol>
            <div class="container">
                <ul>
                    Here are some types within electric guitars.
                    <li class="ul_il">Telecaster</li>
                    <li class="ul_il">Stratocaster</li>
                    <li class="ul_il">flying-V</li>
                    <li class="ul_il">LesPaul</li>
                    <li class="ul_il">SG</li>
                </ul>
            </div>
            <p id="closing_p">Below are some guitar pics of each style in their respective rows.</p>
        </div>
    </div>
    <div class="container">
        <h3>Stratocaster</h3>
        <div class="body-custom">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="https://wallpapercave.com/wp/8MkoGaE.jpg"> <img class="img-fluid img-thumbnail" src="https://wallpapercave.com/wp/8MkoGaE.jpg" alt="couldn't load the img."></a> </div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpapercave.com/wp/eTyg3Pd.jpg"><img class="img-thumbnail" src="https://wallpapercave.com/wp/eTyg3Pd.jpg" alt="Please check you internet."> </a></div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpapercave.com/wp/EUNmNMn.jpg"><img class="img-thumbnail" src="https://wallpapercave.com/wp/EUNmNMn.jpg" alt="guitar image"></a></div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpaperplay.com/walls/full/2/1/7/332127.jpg"><img class="img-thumbnail" src="https://wallpaperplay.com/walls/full/2/1/7/332127.jpg" alt="guitar image"></a></div>
            </div>
            <h3>Les Paul</h3>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="https://c4.wallpaperflare.com/wallpaper/698/804/1000/guitar-music-white-rocksmith-wallpaper-preview.jpg"> <img class="img-fluid img-thumbnail" src="https://c4.wallpaperflare.com/wallpaper/698/804/1000/guitar-music-white-rocksmith-wallpaper-preview.jpg" alt="couldn't load the img."></a> </div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpaperplay.com/walls/full/c/0/8/324439.jpg"><img class="img-thumbnail" src="https://wallpaperplay.com/walls/full/c/0/8/324439.jpg" alt="Please check you internet."> </a></div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpaperplay.com/walls/full/6/e/9/324440.jpg"><img class="img-thumbnail" src="https://wallpaperplay.com/walls/full/6/e/9/324440.jpg" alt="guitar image"></a></div>
                <div class="col-6 col-lg-3">
                    <a href="https://wallpaperplay.com/walls/full/8/3/7/324445.jpg"><img class="img-thumbnail" src="https://wallpaperplay.com/walls/full/8/3/7/324445.jpg" alt="guitar image"></a></div>
            </div>
        </div>
    </div>
{% endblock content %}