{% extends "firstapp/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="row">
                        <div class="row-col-12 col-lg-6">
                            <img class ='blog-author-picture' src="{{ object.author.profile.image.url }}">
                            <strong><a id="author-name"href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></strong>
                        </div>
                        <div class="col-6 col-md-4">
                            {% if object.author == user %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{% url 'post-update' object.id %}" >Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href ="{% url 'post-delete' object.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                        <h3 class="mb-0">{{ object.title}}</h3>
                        <div class="mb-1 text-muted">{{ object.date_posted|date:"F d, Y"}}</div>
                        <p class="card-text mb-auto">{{ object.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}