[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
django-crispy-forms = "==1.9.1"
djangorestframework = "*"
pytz = "==2020.1"
sqlparse = "==0.3.1"
django-heroku = "==0.3.1"
whitenoise = "*"
gunicorn = "*"
Django = "==3.0.6"
Pillow = "==7.1.2"
sentry-sdk = "==0.16.5"


[requires]
python_version = "3.8"
