{% extends "firstapp/base.html" %}
{%  load crispy_forms_tags %}
{% block content %}
    <div class="Jumbotron jumbotron-custom">
        <h1 class="display-2">Log In</h1>
        <p class="lead">Enter you username and password to log into Bender Guitars.</p>
        <hr class="my-4">
    </div>
    <div class="content-section">
        <form method="POST">
            {%  csrf_token %}
            <div class="container">
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
            </div>
            <div class="container">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                    <small class="text-muted ml-2">
                        <!-- <a href="{% url 'password-reset' %}">Forgot password?</a> -->
                    </small>
                </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Need an account?
                <a class="ml-2" href="{% url 'guitar-lovers-register' %}">Register here.</a>
            </small>
        </div>
    </div>
{% endblock content %}